{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS PERSONALIZADO-->
    <link rel="stylesheet" href='{% static "css/inicio.css"%}'>
    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">  
    <!--BOXI-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Libro</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-django'></i>
            <div class="logo_name">Bienvenido</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="http://127.0.0.1:8000/Catalogo">
                <i class="bi bi-card-checklist"></i>
              <span class="links_name ms-3">Cuentas</span>
            </a>
             <span class="tooltip">Catalogo de Cuentas</span>
          </li>
          <li>
           <a href="http://127.0.0.1:8000/CrearPartida/">
                <i class="bi bi-cash-coin"></i>
             <span class="links_name ms-3">Transaccion</span>
           </a>
           <span class="tooltip">Gestionar Transaccion</span>
         </li>
         <li>
           <a href="http://127.0.0.1:8000/Estados">
                <i class="bi bi-currency-dollar"></i>
             <span class="links_name ms-3">Estados Financieros</span>
           </a>
           <span class="tooltip">Estados Financieros</span>
         </li>
         <li>
           <a href="http://127.0.0.1:8000/Inventario">
            <i class="bi bi-clipboard2-check"></i>
             <span class="links_name ms-3">Inventario</span>
           </a>
           <span class="tooltip">Control de Inventario</span>
         </li>
         <li>
           <a href="http://127.0.0.1:8000/Libro">
            <i class="bi bi-bank"></i>
             <span class="links_name ms-3">Libro Mayor</span>
           </a>
           <span class="tooltip">Libro Mayor</span>
         </li>
         <li>
           <a href="http://127.0.0.1:8000/Informacion">
            <i class="bi bi-info-circle-fill"></i>
             <span class="links_name ms-3">Informacion</span>
           </a>
           <span class="tooltip">Desarrolladores</span>
         </li>
         <li class="profile">
             <div class="profile-details">
               <img src='{% static "images/user.png"%}' alt="profileImg">
               {%for u in usuario%}
               <div class="name_job">
                 <div class="name">{{u.usuario}}</div>
                 <div class="job">{{u.nombre_usuario}}</div>
               </div>
             </div>
             {%endfor%}
             <div>
              <a href="http://127.0.0.1:8000/">
                <i class='bx bx-log-out' id="log_out"></i>
              </a>
            </div>
         </li>
        </ul>
      </div>



       

    <section class="home-section">

      
    <div class="row w-100 p-3 mt-5">
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-6 text-start">
        <div class="container text-center">
          <H1>LIBRO MAYOR</H1>
          <h2>THE FUTURE OF DEVELOPMENT</h2>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <img src="{% static 'images/Logo2P2.png' %}" class="img-fluid" alt="Logo" width="200" height="75">
      </div>
      <div class="col-md-1 text-center">
        
      </div>
    </div>
    <div class="container text-center">
    <table class="table table-bordered mt-3">
      <thead>
          <tr>
              <th>Código</th>
              <th>Cuenta</th>
              <th>Debe ($)</th>
              <th>Haber ($)</th>
          </tr>
      </thead>
      <tbody>
        
      </tbody>
  </table>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-6"></div> <!-- Columna vacía para espacio en blanco a la izquierda -->
    <div class="col-lg-6 text-end"> <!-- Mueve el botón a la derecha -->
      <button type="button" class="btn btn-success" id="generarExcel">
        <i class="bi bi-file-earmark-spreadsheet"></i> Generar Excel
      </button>              
    </div>
  </div>
</div>

    </section>

    

    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        closeBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("open");
          menuBtnChange();
        });
        function menuBtnChange() {
         if(sidebar.classList.contains("open")){
           closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
         }else {
           closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
         }
        }

        document.getElementById('generarExcel').addEventListener('click', function () {
            // Realizar una solicitud Fetch a la URL
            fetch('http://127.0.0.1:8000/listadoCuentas/')
                .then((response) => response.json())
                .then((data) => {
                    // Modificar los datos para incluir solo código de cuenta y nombre de cuenta
                    const modifiedData = data.map(item => ({
                        "Código de Cuenta": item.codigo_cuenta,
                        "Nombre de Cuenta": item.nombre_cuenta
                    }));

                    // Crear un objeto de hoja de cálculo
                    const wb = XLSX.utils.book_new();
                    const ws = XLSX.utils.json_to_sheet(modifiedData);

                    // Agregar la hoja de cálculo al libro
                    XLSX.utils.book_append_sheet(wb, ws, 'Cuentas');

                    // Generar un archivo XLSX
                    XLSX.writeFile(wb, 'cuentas.xlsx');
                })
                .catch((error) => {
                    console.error('Error al obtener los datos:', error);
                });
        });

        document.getElementById('generarExcel').addEventListener('click', function () {
            // Realizar una solicitud Fetch a la URL
            fetch('http://127.0.0.1:8000/listadoCuentas/')
                .then((response) => response.json())
                .then((data) => {
                    // Modificar los datos para incluir solo código de cuenta y nombre de cuenta
                    const modifiedData = data.cuentas.map(item => ({
                        "Código de Cuenta": item.codigo_cuenta,
                        "Nombre de Cuenta": item.nombre_cuenta,
                        "Saldo": item.saldo_cuenta,
                    }));

                    // Crear un objeto de hoja de cálculo
                    const wb = XLSX.utils.book_new();
                    const ws = XLSX.utils.json_to_sheet(modifiedData);

                    // Agregar la hoja de cálculo al libro
                    XLSX.utils.book_append_sheet(wb, ws, 'Cuentas');

                    // Generar un archivo XLSX
                    XLSX.writeFile(wb, 'cuentas.xlsx');
                })
                .catch((error) => {
                    console.error('Error al obtener los datos:', error);
                });
        });
        </script>
    
    <!--JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
  </body>
</html>

